.flex-center-left{
  display: flex;
  /* align-items: center;  */
  /* justify-content: flex-end; */
  position: absolute;
  right: 0;
}
.grayRectangle {
    background-color: #F7F8FA;
    height: 909px;
    width: 1116px;
    border-radius: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.WhiteRectangle{
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    width: 1052px;
    height: 859px;
    justify-self: center;
    align-items: center;
    padding-left: 10px;/*need fix*/
  }

.WhiteRectangle .profileP{
    font-size: 14px;
    font-family: "Inter";
    padding-left: 25px;
    /* color: red; */
  }

.WhiteRectangle h5{
    font-size: 18px;
    font-family: "Inter";
    padding-left: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    /* padding-top: 22px; */
  }
  
.profileRectangle{
  background-color: #F7F8FA;
  height: 744px;
  width: 1010px;
  border-radius: 10px;
  display: flex;
}

.basic-information-section{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 14px;
  width: 770px;
  height:317px ;
  row-gap: 15px;
  padding: 15px;
  /* margin-right: 10px; */
}

.grey-section{
  display: flex;
  background-color: #F7F8FA;
  border-radius: 10px;
  /* margin: 10px; */
  /* padding: 12px; */
  font-size: 14px;
  font-family: "Poppins";
}

.location-phone-email-section{/* done */
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  height: 70px;
  width: 740px;
  padding: 15px;
  row-gap: 30px;
}

.location{/* done */
  width: 292px;
  height: 40px;
}
.phone{/* done */
  width: 123;
  height: 40px;
}
.email{/* done */
  width: 154;
  height: 40px;
}

.description-section{/* done */
  height: 107px;
  width: 740px;
  padding: 15px;
  text-align: left;
}

.section-data{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  column-gap: 10px;
}
.icon-with-data{
  display: flex;
  flex-direction: row;
}

.gery-title{/* done */
  font-size: 12px;
  font-family: "Poppins";
  color: grey;
}

.rating-section{/* done */
  display: flex;
  height: 80px;
  width: 740px;
  padding: 15px;
  column-gap: 20px;
  font-size: 14px;
  font-family: "Poppins";
  /* margin: 10px; */
}

.title-rating{/* done */
  width:595px ;
  height: 80px;
  column-gap:15px ;
  justify-content: center;
}

.website-linke{
  color: #3DBDBC;
  background-color: rgba(61, 189, 188, 0.1);
  width:125px ;
  height: 35px;
  column-gap:10px ;
  padding: 10px 12px;
  border-radius: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.star-rating{
  background-color: #F3F5F7;
  height: 31px;
  width: 101px;
  padding: 8px 10px;
  border-radius: 50px;
  text-align: center;
  column-gap: 5px;
}
